*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
}
body{
    font-family: "Lucida Sans Unicode";
    font-size:22px;
    background-color: #FFEBCD;


}

ul{
    list-style: none;
    margin: 0;
    padding-left:0;
}
header a{
    text-decoration: none;
    color:#4E461B;
    font-size: 18px;

}
a:hover{
    text-decoration: underline;
}
.count-cart{
    position: relative;
    right: 100px;
    bottom: 7px;
    width: 35px;
    height: 35px;
    background-color:#4E461B;
    border-radius: 50%;
    color: #FFEBCD;
    font-weight: bold;

}

.mini-count{
    position: relative;
    left:11px;

}
button.auth_but{
    width: 100px;
    height: 50px;
    border-radius: 25px;
    background-color:#4E461B;
    color:#FFEBCD;
    border: none;
    outline: none;
    font-size: 18px;
    letter-spacing: .5px;
    position: relative;
    bottom: 5px;
}
button.auth_but:active{
    background-color:#DEB887 ;
    color:#4E461B;
}


nav img{
    width:48px;
    height: 35px;
}
nav p {
    margin-top: -6px;
    position: relative;
}
.f1 li{
    float:left;
    margin-left: 85px;
    margin-top: 45px;
    position: relative;
}
.elips_logo{
    border-radius: 15%;
    width:88px;
    height: 70px;

    padding-left:10px;
    padding-top:1px;
    position: relative;
    float:left;
    margin-top: 20px;
    margin-left: 235px;

}
.elips_logo p{
    color:#fff;
    position: relative;
    margin-left:25px;
    margin-top: 15px;
    font-weight: bold;


}
.logo-text{
    float:left;
    margin-left: 35px;
    margin-top: 20px;

}
.logo-text p{
    font-weight: bold;

}
.clear{
    clear:both;
}
p.price{
    font-size: 14px;
    text-transform: uppercase;
    color:#929295;
}
p.price_num{
    font-size: 20px;
    font-weight: bold;
}
.main img {

    height: auto;
    width: 200px;
    border-radius: 10px;
}

.product-cards {
    display: flex;
    flex-wrap: wrap;
}
.conteiner{
    position: relative;
    width: 1600px;
    left:240px;
    top:50px;
}
.wrapper{

}
.product-card {

    transition: all .5s;
    padding: 10px;
    position: relative;
    float: left;
    width: 450px;
    height: 580px;
    margin-left: 50px;
    margin-top: 50px;
    word-wrap: break-word;
}

.product-card:hover {
    box-shadow: 0 2px 16px rgba(0,0,0,.24);
    /*transform: translateY(-5px);*/
}
p.price{
    font-size: 14px;
    text-transform: uppercase;
    color:#929295;
}

.offer {
    color: #fff;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 10;
    text-transform: uppercase;
}

.offer > div {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 3px;
    font-size: 14px;
}

.offer-hit {
    background-color: #ff8400;
}

.offer-sale {
    background-color: #007bff;
}

.card-thumb {
    height: 150px;
    text-align: center;
    padding: 15px;
}

.card-thumb img {
    max-height: 230px;
}

.card-caption {
    margin-top: 80px;
}

.card-title {
    height: 75px;
    overflow: hidden;
}

.card-title a {
    color: #354751;
}

.card-price {
    font-size: 20px;
    margin-top: 15px;
    color: #ec4835;
    font-weight: bold;
}

.card-price del, .product-buy del {
    color: #337ab7;
}

.product-card .item-status {
    position: absolute;
    bottom: 5px;
}
.main button{
    width: 130px;
    height: 50px;
    border-radius: 25px;
    background-color:#4E461B;
    color:#FFEBCD;
    border: none;
    outline: none;
    font-size: 18px;
    letter-spacing: .5px;
    position: relative;
    top:20px;
}
.main button:active{
    background-color: #d2984c;
    color:#4E461B;
}
.main a{
    color: #DEB887;
}


.cart-modal img {
    max-height: 50px;
}

.product-item-thumb {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.product-item-thumb img {
    max-height: 500px;
}
.main a{
    text-decoration: none;
}
.main a:hover{
    text-decoration: underline;
}

@media only screen and (max-width : 734px) {
    .product-cards{
        justify-content: center;
    }
}


footer{
    position: relative;
    top:300px;
    background-color: #DEB887;
    height: 400px;
    clear: both;

}
.footer-logo{
    border-radius: 15%;
    width:88px;
    height: 70px;



    font-weight: bold;
    font-size: 30px;
    padding-left:10px;
    padding-top:1px;
}
.footer-logo-text{
    color: #4E461B;
    font-size: 20px;
    font-weight: bolder;
    padding-left: 20px;
    position: relative;
    right: 20px;
    bottom: 15px;
}
.footer-logo,.footer-logo-text{
    display: inline-block;
}
.footer-logo span{
    padding-left: 26%;
    position: relative;
    top:10px;
}
.logo-wrapper{
    margin-left: 235px;
    padding-top: 50px;
}
.logo-wrapper,.about-shop,.info-for-seller,.contacts{
    float: left;
}
.about-shop{
    font-size: 16px;
    color: #4E461B;
    position: relative;
    left:100px;
    top: 78px;
}
.about-shop a{
    color: #4E461B;
    text-decoration: none;
}
.about-shop a:hover{
    color: #FFEBCD;
    text-decoration: underline;
}
.about-shop span{
    font-weight: bold;
    letter-spacing: 1px;

}
.info-for-seller{
    font-size: 16px;
    color: #4E461B;
    position: relative;
    left:200px;
    top: 78px;
}
.info-for-seller a{
    color: #4E461B;
    text-decoration: none;
}
.info-for-seller a:hover{
    color: #FFEBCD;
    text-decoration: underline;
}
.info-for-seller span{
    font-weight: bold;
    letter-spacing: 1px;
}
.contacts{
    font-size: 16px;
    color: #4E461B;
    position: relative;
    left:300px;
    top: 78px;
}
.contacts span{
    font-weight: bolder;
    letter-spacing: .5px;
}
.contacts img{
    width: 40px;
    height: 40px;

    position: relative;
    top:10px;
}
.contacts .icon{
    position: relative;
    margin-left: 10px;
}
.icon-bar img{
    width: 70px;
    height: 70px;
}
.icon-bar{

    position: relative;
    right: 100px;
    bottom: 445px;

}
.icon-bar{
    position: fixed;
    z-index: 101;
}