*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
}


body{
    font-family: "Lucida Sans Unicode";
    font-size:22px;
    background-color: #FFEBCD;
}

ul{
    list-style: none;
    margin: 0;
    padding-left:0;
    background-color:#DEB887;
}
header a{
    text-decoration: none;
    color:#4E461B;
    font-size: 18px;


}
header{
    margin: 0;
}

header a:hover{
    color:#4E461B;
}

nav img{
    width:48px;
    height: 35px;

}
nav p {
    margin-top: -6px;
    position: relative;
}
li{
    float:left;
    margin-left: 85px;
    margin-top: 45px;
    position: relative;

}
.elips_logo{
    border-radius: 15%;
    width:88px;
    height: 70px;

    padding-left:10px;
    padding-top:1px;
    position: relative;
    float:left;
    margin-top: 20px;
    margin-left: 235px;

}
.elips_logo p{
    color:#fff;
    position: relative;
    margin-left:25px;
    margin-top: 15px;
    font-weight: bold;


}
.logo-text{
    float:left;
    margin-left: 35px;



}
.logo-text p{
    font-weight: bold;
    color: #4E461B;
    margin-top: 25px;

}
.clear{
    clear:both;
}
.main{
    position: relative;

    margin-left: 321px;
    margin-top: 130px;

}
.main h1{
    font-weight: bolder;
}
.item{
    width: 370px;
    height: 80px;
    border-radius: 25px;
    background-color:#4E461B;
    color:#fff;
    border: none;
    outline: none;
    font-size: 24px;
    letter-spacing: .5px;
}

button.auth_but{
    width: 100px;
    height: 50px;
    border-radius: 25px;
    background-color:#4E461B;
    color:#fff;
    border: none;
    outline: none;
    font-size: 18px;
    letter-spacing: .5px;
    position: relative;
    bottom: 5px;
}
.main a{
    color: #FFEBCD;
    text-decoration: none;
}
button:active{
    background-color:#DEB887 ;
    color:#4E461B;
}
.im{
    width: 800px;
    position: relative;
    left: 150px;
}
.im img{
    position: relative;
    width: 700px;
    height: 600px;

}
.text{
    margin-left: -86px;
    position: relative;
    top:100px;
}
.im,.text{
    float:left;
}
.count-cart{
    position: relative;
    right: 100px;
    bottom: 7px;
    width: 35px;
    height: 35px;
    background-color:#4E461B;
    border-radius: 50%;
    color: #fff;
    font-weight: bold;

}
.no-cart{
    position: relative;
    left: 550px;
}
.mini-count{
    position: relative;
    left:11px;

}