*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
}
body{
    font-family: "Lucida Sans Unicode";
    font-size:22px;
    background-color: #FFEBCD;
    overflow-x: hidden;


}

ul{
    list-style: none;
    margin: 0;
    padding-left:0;
}
header a{
    text-decoration: none;
    color:#4E461B;
    font-size: 18px;

}
a:hover{
    text-decoration: underline;
}
.count-cart{
    position: relative;
    right: 100px;
    bottom: 7px;
    width: 35px;
    height: 35px;
    background-color:#4E461B;
    border-radius: 50%;
    color: #FFEBCD;
    font-weight: bold;

}

.mini-count{
    position: relative;
    left:11px;

}
button.auth_but{
    width: 100px;
    height: 50px;
    border-radius: 25px;
    background-color:#4E461B;
    color:#FFEBCD;
    border: none;
    outline: none;
    font-size: 18px;
    letter-spacing: .5px;
    position: relative;
    bottom: 5px;
}
button.auth_but:active{
    background-color:#DEB887 ;
    color:#4E461B;
}


nav img{
    width:48px;
    height: 35px;
}
nav p {
    margin-top: -6px;
    position: relative;
}
.f1 li{
    float:left;
    margin-left: 85px;
    margin-top: 45px;
    position: relative;
}
.elips_logo{
    border-radius: 15%;
    width:88px;
    height: 70px;

    padding-left:10px;
    padding-top:1px;
    position: relative;
    float:left;
    margin-top: 20px;
    margin-left: 235px;

}
.elips_logo p{
    color:#fff;
    position: relative;
    margin-left:25px;
    margin-top: 15px;
    font-weight: bold;


}
.logo-text{
    float:left;
    margin-left: 35px;
    margin-top: 20px;

}
.logo-text p{
    font-weight: bold;

}



.head hr{
    width: 1060px;
    position: relative;
    top:30px;
    left:240px;
}
.head h1{
    position: relative;

    margin-left: 240px;

    top: 40px;
    font-size: 32px;
    font-weight: bolder;
}

form{
    position: relative;

    left:30px;
    width: 1200px;
}

.main{
    clear: both;
}
.group{
    margin-top: 15px;
}
label{
    float: left;
    padding-left: 20px;
}
input{
    width: 200px;
    height: 30px;
    font-size: 24px;
    outline: none;
}
input{
    position: relative;
    right: 3%;
    border-radius: 3px;
    border: none;
}
form h1{
    text-align: center;
    position: relative;
    top:10px;
    color:#EBEFF0;
}
.form-wrapper{
    position: relative;
    left: 18%;
    top:120px;
    background-color:#DEB887;
    width: 600px;
    height: 760px;

    letter-spacing: .5px;
    padding: 30px;

}
.to-centre{
    position: relative;
    left:8%;
    top:3%;
}
legend{
    color:#fff;
    font-size: 27px;
}
fieldset{
    width: 600px;
}
div.group {
    padding-bottom: 5px;
}
.form-wrapper{
    float: left;
}

.main button{
    width: 250px;
    height: 60px;
    border-radius: 25px;
    background-color:#4E461B;
    color:#fff;
    border: none;
    outline: none;
    font-size: 18px;
    letter-spacing: .5px;
    position: relative;
    right: 180px;
    font-family: sans-serif;
    font-weight: bold;
    padding: 10px;

    margin-top: 110px;
}
.main button:active{
    background-color:#E27E1B;
}
fieldset {
    margin-top: 15px;
    position: relative;
    right: 70px;
    color: #fff;
}
legend{
    margin-top: 15px;

}
fieldset {
    font-family: sans-serif;
    border: 5px solid #4E461B;
    border-radius: 5px;
    padding: 15px;
}

fieldset legend {
    background:#4E461B;
    color: #fff;
    padding: 5px 10px ;
    font-size: 32px;
    border-radius: 5px;

    margin-left: 20px;
}



.group{
    clear: both;
    text-align: right;
    line-height: 30px;
    margin-top: 15px;
}





footer{
    position: relative;
    top:300px;
    background-color: #DEB887;
    height: 400px;
    clear: both;

}
.footer-logo{
    border-radius: 15%;
    width:88px;
    height: 70px;



    font-weight: bold;
    font-size: 30px;
    padding-left:10px;
    padding-top:1px;
}
.footer-logo-text{
    color: #4E461B;
    font-size: 20px;
    font-weight: bolder;
    padding-left: 20px;
    position: relative;
    right: 20px;
    bottom: 15px;
}
.footer-logo,.footer-logo-text{
    display: inline-block;
}
.footer-logo span{
    padding-left: 26%;
    position: relative;
    top:10px;
}
.logo-wrapper{
    margin-left: 235px;
    padding-top: 50px;
}
.logo-wrapper,.about-shop,.info-for-seller,.contacts{
    float: left;
}
.about-shop{
    font-size: 16px;
    color: #4E461B;
    position: relative;
    left:100px;
    top: 78px;
}
.about-shop a{
    color: #4E461B;
    text-decoration: none;
}
.about-shop a:hover{
    color: #FFEBCD;
    text-decoration: underline;
}
.about-shop span{
    font-weight: bold;
    letter-spacing: 1px;

}
.info-for-seller{
    font-size: 16px;
    color: #4E461B;
    position: relative;
    left:200px;
    top: 78px;
}
.info-for-seller a{
    color: #4E461B;
    text-decoration: none;
}
.info-for-seller a:hover{
    color: #FFEBCD;
    text-decoration: underline;
}
.info-for-seller span{
    font-weight: bold;
    letter-spacing: 1px;
}
.contacts{
    font-size: 16px;
    color: #4E461B;
    position: relative;
    left:300px;
    top: 78px;
}
.contacts span{
    font-weight: bolder;
    letter-spacing: .5px;
}
.contacts img{
    width: 40px;
    height: 40px;

    position: relative;
    top:10px;
}
.contacts .icon{
    position: relative;
    margin-left: 10px;
}
.icon-bar img{
    width: 70px;
    height: 70px;
}
.icon-bar{

    position: relative;
    right: 100px;
    bottom: 445px;

}
.icon-bar{
    position: fixed;
    z-index: 101;
}


.main{
    clear: both;
}
.qty-count{
    opacity: 0;
}
table{
    width: 350px;
    position: relative;
    right: 350px;
    top:120px;
    background-color: #4381B4;

}
tr{
    box-shadow: 0 2px 16px rgba(0,0,0,.24);
    padding-top: 20px;
}
td a{
    color: black;
    text-decoration: none;
}
td{
    position: relative;
    padding: 20px;

}
td a img{
    width: 80px;
    height: 80px;
}
.td-title{
    width: 200px;
}


.modal-footer{
    position: relative;
    left: 250px;
}
.item-order img{
    width: 150px;
    height: 150px;
}

.main button a{
    color: #fff;
    text-decoration: none;
}

.main button a:active{
    color:#6C85A4;
}
th{
    font-size: 14px;
    text-transform: uppercase;
    color:#929295;
    font-weight: lighter;

}

.confirm-order{
    width: 400px;
    height: 820px;
    position: relative;
    left: 216px;
    top:120px;
    color:#fff;

    background-color: #DEB887;
    border-left: 5px solid #463f30;
}

.confirm-order p{
    margin-left: 20px;
    margin-top: 30px;

}
.cart-modal,.confirm-order{
    float:left;
}
.cart-modal{
    position: relative;
    left:340px;
}
.order-price,.order-sum,.big{
    font-weight: bold;
    position: relative;

}
.order-price{
    position: relative;
    left:50px;
}
.order-sum{
    position: relative;
    left:140px;
}
.big{
    position: relative;
    left:185px;
}
.confirm-order hr{
    width: 360px;
    position: relative;
    left:20px;
    top:15px;
    background-color:#DCDCDC;
}
.t3{
    position: relative;
    top: 30px;
}
.big2{
    font-weight: bold;
}
.small{
    font-size: 16px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: lighter;
}