*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
}

.logo-text{

    float:left;
    margin-left: 35px;

}
.logo-text p{
    font-weight: bold;

}
body{
    font-family: "Lucida Sans Unicode";
    font-size:24px;
}

header ul{
    list-style: none;
    margin: 0;
    padding-left:0;
}
header a{
    text-decoration: none;
    color:black;


}

header a:hover{
    color:#246FB5;
}
header nav img{
    width:48px;
    height: 35px;
}
header nav p {
    margin-top: -6px;
    position: relative;
}
.f1 li{
    float:left;
    margin-left: 85px;
    margin-top: 45px;
    position: relative;
}
.elips_logo{
    border-radius: 15%;
    width:88px;
    height: 70px;
    background-color:#246FB5;
    padding-left:10px;
    padding-top:1px;
    position: relative;
    float:left;
    margin-top: 20px;
    margin-left: 235px;

}
.elips_logo p{
    color:#fff;
    position: relative;
    margin-left:25px;
    margin-top: 15px;
    font-weight: bold;


}
.logo-text{
    display: inline-block;
    margin-left: 35px;
    position: relative;
    top:20px;

}
.logo-text p{
    font-weight: bold;

}


.main{
    clear: both;
}
.sidebar ul li a{
    text-decoration: none;
    color: #fff;
    position: relative;


}
.sidebar img{
    width: 40px;
    height: 40px;
    position: relative;
    right: 10px;
    top:15px;
}
.name-about{
    position: relative;
    right: 35px;
    top:7px;
}
.email-about{
    position: relative;
    left:11px;
    top:7px;
}

.sidebar ul li.info_about a{
    position: relative;
    bottom:30%;
    left:30px;
}
.sidebar ul{
    position: relative;
    top: 150px;

}
.sidebar ul li{
    background-color: #4381B4 ;
    margin-top: 15px;
    width: 330px ;
    height: 70px;
    font-size: 18px;
    border-radius: 10px;
    margin-left: 13%;
    list-style-type: none;
    padding-left: 15px;
}

.sidebar ul li a:active{
    color: #a8bac7;
}
.sidebar{
    position: relative;
    left:200px;
    width: 350px;
}


.sidebar ul li{
    background-color: #4381B4 ;
    margin-top: 15px;
    width: 400px ;
    height: 80px;
    font-size: 18px;
    border-radius: 10px;
    margin-left: 5%;
    list-style-type: none;
    padding-left: 15px;
}

.sidebar ul li a:active{
    color: #a8bac7;
}
.sidebar,.content{
    float: left;
}

.content{
    width: 730px;
    position: relative;
    top:80px;
}
.content h1{
    position: relative;
    left:350px;
    top:75px;
}

button.auth_but{
    width: 100px;
    height: 50px;
    border-radius: 25px;
    background-color:#246FB5;
    color:#fff;
    border: none;
    outline: none;
    font-size: 18px;
    letter-spacing: .5px;
    position: relative;
    bottom: 5px;
}
button:active{
    background-color: #14365D;
}



p.err-msg3{
    border: 2px solid #E27E1B;
    border-radius: 3px;
    text-align: center;
    font-weight: bold;
    position: relative;
    margin-top: 100px;
    color:#fff;
    letter-spacing: .5px;
    margin-left: 35%;
    width: 500px;
}
.count-cart{
    position: relative;
    right: 100px;
    bottom: 7px;
    width: 35px;
    height: 35px;
    background-color:#246FB5;
    border-radius: 50%;
    color: #fff;
    font-weight: bold;

}

.mini-count{
    position: relative;
    left:11px;

}
footer{
    top:470px;
    position: relative;
    background-color: #20314F;
    height: 400px;
    clear: both;
}
.footer-logo{
    border-radius: 15%;
    width:88px;
    height: 70px;
    background-color:#fff;
    color: #20314F;
    font-weight: bold;
    font-size: 30px;
    padding-left:10px;
    padding-top:1px;
}
.footer-logo-text{
    color: #fff;
    font-size: 20px;
    font-weight: bolder;
    padding-left: 20px;
    position: relative;
    top:10px;
}
.footer-logo,.footer-logo-text{
    display: inline-block;
}
.footer-logo span{
    padding-left: 26%;
    position: relative;
    top:10px;
}
.logo-wrapper{
    margin-left: 235px;
    padding-top: 50px;
}
.logo-wrapper,.about-shop,.info-for-seller,.contacts{
    float: left;
}
.about-shop{
    font-size: 16px;
    color: #fff;
    position: relative;
    left:100px;
    top: 78px;
}
.about-shop a{
    color: #fff;
    text-decoration: none;
}
.about-shop a:hover{
    color: #fff;
    text-decoration: underline;
}
.about-shop span{
    font-weight: bold;
    letter-spacing: 1px;

}
.info-for-seller{
    font-size: 16px;
    color: #fff;
    position: relative;
    left:200px;
    top: 78px;
}
.info-for-seller a{
    color: #fff;
    text-decoration: none;
}
.info-for-seller a:hover{
    color: #fff;
    text-decoration: underline;
}
.info-for-seller span{
    font-weight: bold;
    letter-spacing: 1px;
}
.contacts{
    font-size: 16px;
    color: #fff;
    position: relative;
    left:300px;
    top: 78px;
}
.contacts span{
    font-weight: bolder;
    letter-spacing: .5px;
}
/*.icon_profile img{*/
/*    width: 40px;*/
/*    height: 40px;*/
/*    position: relative;*/
/*    right: 150px;*/
/*}*/
table{
    border-collapse: collapse;
    border: 2px solid black;
    position: relative;
    left:45%;
    top:150px;

}
td{
    border: 2px solid black;
    padding: 10px;
    background-color: #97b0cb;
}
tr{
    border: 2px solid black;
}
th{
    border: 2px solid black;
    padding: 10px;
    text-align: center;
    background-color: #14365D;
    color: #fff;
}
.contacts img{
    width: 40px;
    height: 40px;
    filter: invert(100%);
    -webkit-filter:invert(100%);
    position: relative;
    top:10px;
}
.contacts .icon {
    position: relative;
    margin-left: 10px;
}