*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
}
body{
    font-family: "Lucida Sans Unicode";
    font-size:22px;
    background-color: #FFEBCD;
}

ul{
    list-style: none;
    margin: 0;
    padding-left:0;
}
header a{
    text-decoration: none;
    color:#4E461B;
    font-size: 18px;

}
a:hover{
    text-decoration: underline;
}
.count-cart{
    position: relative;
    right: 100px;
    bottom: 7px;
    width: 35px;
    height: 35px;
    background-color:#4E461B;
    border-radius: 50%;
    color: #FFEBCD;
    font-weight: bold;

}

.mini-count{
    position: relative;
    left:11px;

}
button.auth_but{
    width: 100px;
    height: 50px;
    border-radius: 25px;
    background-color:#4E461B;
    color:#FFEBCD;
    border: none;
    outline: none;
    font-size: 18px;
    letter-spacing: .5px;
    position: relative;
    bottom: 5px;
}
button:active{
    background-color:#DEB887 ;
    color:#4E461B;
}


nav img{
    width:48px;
    height: 35px;
}
nav p {
    margin-top: -6px;
    position: relative;
}
.f1 li{
    float:left;
    margin-left: 85px;
    margin-top: 45px;
    position: relative;
}
.elips_logo{
    border-radius: 15%;
    width:88px;
    height: 70px;

    padding-left:10px;
    padding-top:1px;
    position: relative;
    float:left;
    margin-top: 20px;
    margin-left: 235px;

}
.elips_logo p{
    color:#fff;
    position: relative;
    margin-left:25px;
    margin-top: 15px;
    font-weight: bold;


}
.logo-text{
    float:left;
    margin-left: 35px;
    margin-top: 20px;

}
.logo-text p{
    font-weight: bold;

}
.main{

    clear: both;
}
.sidebar ul li a{
    text-decoration: none;
    color: #fff;
    position: relative;


}
.sidebar img{
    width: 40px;
    height: 40px;
    position: relative;
    right: 10px;
    top:15px;
}
.name-about{
    position: relative;
    right: 35px;
    top:7px;
}
.email-about{
    position: relative;
    left:11px;
    top:7px;
}

.sidebar ul li.info_about a{
    position: relative;
    bottom:30%;
    left:30px;
}
.sidebar{
    position: relative;
    bottom: 425px;
}
.sidebar ul{
    position: relative;
    top: 70px;

}
.sidebar ul li{
    background-color: #4E461B ;
    margin-top: 15px;
    width: 400px ;
    height: 80px;
    font-size: 18px;
    border-radius: 10px;
    margin-left: 5%;
    list-style-type: none;
    padding-left: 15px;
    box-shadow: 2px 2px 3px #999;
    -webkit-box-shadow: 2px 2px 3px #999;
    -moz-box-shadow: 2px 2px 3px #999;
}

.sidebar ul li a:active{
    color: #DEB887;
}
.sidebar{
    position: relative;
    left:200px;
    width: 30%;
}
.sidebar,.content{
    display: inline-block;
}

.content{
    width: 60%;
    position: relative;
    padding-left: 150px;
    top:100px;


}
.content h1{
    position: relative;
    margin-left: 10px;
    top:60px;
}
.content img{
    width: 48px;
    height: 48px;
    position: relative;
    top:15px;

}
.personal-data,.contacts-data,.delivery-data{
    margin-top: 40px;

    background-color: #DEB887;
    color: #eeebe7;
    border: 1px solid #999999;
    border-radius: 10px 10px;
    -moz-border-radius: 10px 10px;
    -webkit-border-radius: 10px 10px;
    box-shadow: 2px 2px 3px #999;
    -webkit-box-shadow: 2px 2px 3px #999;
    -moz-box-shadow: 2px 2px 3px #999;
    padding: 15px;

    width: 800px;

}
.personal-data{
    height: 325px;
}
.contacts-data{
    height: 260px;
}
.contacts-data input{
    width: 280px;
}
.contacts-data label{
    font-size: 14px;
}
#birth-day,#birth-month,#birth-year{
    position: relative;
    top:7px;
}
.delivery-data p{
    position: relative;
    bottom: 10px;
}
.personal-data p{
    position: relative;
    bottom: 10px;
}
.contacts-data p{
    position: relative;
    bottom: 10px;
}
.text{
    margin-left: 10px;
}
.wrapp-field{
    position: relative;
    top:50px;

}
.contacts-data{
    position: relative;
    top:50px;

}
.delivery-data{
    position: relative;
    top:120px;
    right: 15px;
    height: 240px;
}
.block3,.block4{
    display: inline-block;
    margin-top: 20px;

}
.block4{
    margin-left: 70px;
}

.wrapper-delivery{
    position: relative;
    top:10px;
}
button.edit{
    width: 140px;
    height: 50px;
    border-radius: 25px;
    background-color:#4E461B;
    color:#FFEBCD;
    border: none;
    outline: none;
    font-size: 18px;
    letter-spacing: .5px;
    position: relative;
    top: 30px;
}
button:active{
    background-color: #d2984c;
    color:#4E461B;
}


.strelka{
    position: relative;
    left:590px;
    top: 3px;
}
.strelka2{
    position: relative;
    left:530px;
    top:3px;
}
.wrapper-personal-data label{
    font-size: 14px;
}
input,select{
    font-size: 20px;
    padding: 5px;
}


.block5,.block6{
    display: inline-block;

}
.block6{
    position: relative;
    margin-left: 70px;
}
.block1,.block2{
    display: inline-block;

}
.block2{
    margin-left: 100px;
}


footer{
    position: relative;
    top:450px;
    background-color: #DEB887;
    height: 400px;
    clear: both;

}
.footer-logo{
    border-radius: 15%;
    width:88px;
    height: 70px;



    font-weight: bold;
    font-size: 30px;
    padding-left:10px;
    padding-top:1px;
}
.footer-logo-text{
    color: #4E461B;
    font-size: 20px;
    font-weight: bolder;
    padding-left: 20px;
    position: relative;
    right: 20px;
    bottom: 15px;
}
.footer-logo,.footer-logo-text{
    display: inline-block;
}
.footer-logo span{
    padding-left: 26%;
    position: relative;
    top:10px;
}
.logo-wrapper{
    margin-left: 235px;
    padding-top: 50px;
}
.logo-wrapper,.about-shop,.info-for-seller,.contacts{
    float: left;
}
.about-shop{
    font-size: 16px;
    color: #4E461B;
    position: relative;
    left:100px;
    top: 78px;
}
.about-shop a{
    color: #4E461B;
    text-decoration: none;
}
.about-shop a:hover{
    color: #FFEBCD;
    text-decoration: underline;
}
.about-shop span{
    font-weight: bold;
    letter-spacing: 1px;

}
.info-for-seller{
    font-size: 16px;
    color: #4E461B;
    position: relative;
    left:200px;
    top: 78px;
}
.info-for-seller a{
    color: #4E461B;
    text-decoration: none;
}
.info-for-seller a:hover{
    color: #FFEBCD;
    text-decoration: underline;
}
.info-for-seller span{
    font-weight: bold;
    letter-spacing: 1px;
}
.contacts{
    font-size: 16px;
    color: #4E461B;
    position: relative;
    left:300px;
    top: 78px;
}
.contacts span{
    font-weight: bolder;
    letter-spacing: .5px;
}
.contacts img{
    width: 40px;
    height: 40px;


    position: relative;
    top:10px;
}
.contacts .icon{
    position: relative;
    margin-left: 10px;
}
